<!DOCTYPE html>
<html>
<head>
    <title>Rent-A-Doggo</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/application.js" type="text/javascript"></script>
    <script src="js/typed.js" type="text/javascript"></script>
<script>
// jQuery goes here! (p.s. this is a JavaScript comment)




</script>
</head>   
<body>
    
<!-- HOMEPAGE -->

<div class="homepage">

    <div class="name-header">
        <h1 class="home-h1">Rent a <span id="typed"></span></h1>
    </div>

    <div class="home-tagline">
        <p>Rent-A-Doggo let's you hang out with a doggo for a day!</p>
    </div>

    <div class="home-button">
        <a href="#page2" class="scroll"><button type="submit">Click to learn more...</button></a>
    </div>
</div>
<!-- END HOMEPAGE -->


<!-- INFO PAGE -->
<a name="page2"><div class="page2"></a>

<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="Full Name">
      <input type="text" placeholder="Email">
      <button>Send me info!</button>
    </form>
  </div>
</div>

</div>

<!-- END PAGE 2 -->

</body>
</html>
